
@{
    ViewData["Title"] = "Index";
}
<style>
    .bookrow { 
        border-radius: 3px;
        margin-bottom: 10px;
        vertical-align:middle;
    }
    .middle-column {
        margin-left: 5px;
        margin-right: 5px; 
    }
    .img-cover {
        height: 200px;
    }
</style>
<h1>My Library</h1>
<br />
<div>
    
    <div class="row bookrow ">
        <img src="~/lib/book-cover/KillingFloor-LeeChild.jpg" alt="Killing Floor" class=" img-thumbnail img-cover col-lg-3" />

        <div class="card col-lg-7 middle-column"  >
            <div class="card-body">
                <h5 class="card-title">Killing Floor</h5>
                <h6 class="card-subtitle mb-2 text-muted">By Lee Child</h6>
                <p class="card-text">Jack Reacher jumps off a bus and walks 14 miles down a country road into Margrave, Georgia. An arbitrary decision he's about to regret.</p>
                <a href="https://www.audible.com.au/pd/Killing-Floor-AudioBook/B076HVM1Q1?ref=a_cat_Myste_c10_lProduct_1_7&pf_rd_p=9978c3e4-1b90-4006-977d-6f886970fda3&pf_rd_r=JYKT2AJ85NMJA9CMQ8K7" class="card-link">Audible Link</a>
            </div>
        </div>
        <div class="col-lg-1">
            <a href="#" class="btn btn-primary stretched-link">...</a>
        </div>

    </div>

    <div class="row bookrow">

        <img src="~/lib/book-cover/DieTrying-LeeChild.jpg" alt="Die Trying" class=" rounded  img-thumbnail img-cover col-lg-3" />

        <div class="card col-lg-7 middle-column  text-white bg-secondary">
            <div class="card-body">
                <h5 class="card-title">Die Trying</h5>
                <h6 class="card-subtitle mb-2 text-muted">By Lee Child</h6>
                <p class="card-text">
                    Jack Reacher, alone, strolling nowhere.
                    A Chicago street in bright sunshine. A young woman, struggling on crutches. Reacher offers her a steadying arm.
                    And turns to see a handgun aimed at his stomach..
                </p>
                <a href="https://www.audible.com.au/pd/Die-Trying-AudioBook/B076HXFV96?plink=HiO2daeLfFlVOicX&ref=a_pd_Killin_c5_adblp13npsbx_1_1&pf_rd_p=1229e305-edc4-4736-93e3-49cda4a07ddd&pf_rd_r=Q9EQ1QECXRJN39RZT9XJ" class="card-link">Audible Link</a>
            </div>
        </div>
        <div class="col-lg-1">
            <a href="#" class="btn btn-secondary stretched-link">...</a>
        </div>

    </div>
    <div class="row bookrow">

        <img src="~/lib/book-cover/Tripwire-LeeChild.jpg" alt="Tripwire" class=" rounded  img-thumbnail img-cover col-lg-3" />

        <div class="card col-lg-7 text-white bg-success middle-column">
            <div class="card-body">
                <h5 class="card-title">Tripwire</h5>
                <h6 class="card-subtitle mb-2 text-muted">By Lee Child</h6>
                <p class="card-text">
                    He spends his days digging swimming pools by hand and his nights as the bouncer in the local strip club in the Florida Keys...
                </p>
                <a href="https://www.audible.com.au/pd/Tripwire-AudioBook/B0774WV4JF?plink=euBb7ldBaF80ed1a&ref=a_pd_Die-Tr_c5_adblp13npsbx_1_1&pf_rd_p=1229e305-edc4-4736-93e3-49cda4a07ddd&pf_rd_r=XVSMYH8R6FHCBKC87AYA" class="card-link">Audible Link</a>
            </div>
        </div>
        <div class="col-lg-1">
            <a href="#" class="btn btn-success stretched-link">...</a>
        </div>
    </div> 
</div>
