
<div class="container">




    <div class="card" >
        <div class="card-body">

            <div class="alert alert-danger" role="alert">
                <h5>
                    Access Denied
                </h5>
            </div>
            <p class="card-text">
                Looks like you are not authorized to access this page.
                Please <a asp-controller="Home" asp-action="Logout"> click here </a> to login as someone else.
            </p>
        </div>
    </div>


     
</div>
